<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.hishmat.deltahacks2">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".defgAndHijk"
            android:label="@string/title_activity_defg_and_hijk"
            android:theme="@style/NoActionBar"></activity>
        <activity
            android:name=".defgActivity"
            android:label="@string/title_activity_defg"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".defgActivity"
            android:label="@string/title_activity_defg"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="._abcButtons"
            android:label="@string/title_activity__abc_buttons"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".CommandsActivity"
            android:label="@string/title_activity_commands"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".TypeActivity"
            android:label="@string/title_activity_type"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>